
@font-face {
  font-family: Poppins:Bold;      
  src: url('../fonts/poppins-bold-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-A0, U+A2-A9, U+AC-AE, U+B0-B7, U+B9-BA, U+BC-BE, U+D7, U+F7, U+2000-206F, U+2074, U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Poppins:Regular;      
  src: url('../fonts/poppins-regular-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-A0, U+A2-A9, U+AC-AE, U+B0-B7, U+B9-BA, U+BC-BE, U+D7, U+F7, U+2000-206F, U+2074, U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Mulish:Regular;      
  src: url('../fonts/mulish-regular-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-A0, U+A2-A9, U+AC-AE, U+B0-B7, U+B9-BA, U+BC-BE, U+D7, U+F7, U+2000-206F, U+2074, U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Mulish:Bold;      
  src: url('../fonts/mulish-bold-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-A0, U+A2-A9, U+AC-AE, U+B0-B7, U+B9-BA, U+BC-BE, U+D7, U+F7, U+2000-206F, U+2074, U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Poppins:SemiBold;      
  src: url('../fonts/poppins-semibold-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-A0, U+A2-A9, U+AC-AE, U+B0-B7, U+B9-BA, U+BC-BE, U+D7, U+F7, U+2000-206F, U+2074, U+20AC, U+2122, U+2190-21BB, U+2212, U+2215, U+F8FF, U+FEFF, U+FFFD;
}
